<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __tmp_dir }}'/>
  </server>
  <profile id='IBM WebSphere Application Server V8.5' installLocation='{{ __was_install_location }}'>
    <data key='cic.selector.arch' value='x86'/>
  </profile>
  <install>
  {%if __this_version.startswith('7') %}
    <offering profile='IBM WebSphere Application Server V8.5' id='com.ibm.websphere.IBMJAVA.v70' version='{{ __this_version }}' features='com.ibm.sdk.7'/>
  {% endif %}
  {%if __this_version.startswith('8') %}
    <offering profile='IBM WebSphere Application Server V8.5' id='com.ibm.websphere.IBMJAVA.v80' version='{{ __this_version }}' features='com.ibm.sdk.8'/>
  {% endif %}
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
  <preference name='offering.service.repositories.areUsed' value='false'/>
</agent-input>
